<div class="leafPageCont" id="etprInfo" menu-active>
    <h4 class="pageTitle">您的位置：企业信息</h4>
    <div>
        <div class="dataPanel">
            <div class="clearfix titleBack">
                <h3 class="panelTitle">消费明细</h3>
                <a class="backBtn" href="javascript:;" ng-click="goBack()">返回</a>
            </div>
            <div class="panelContent eprTbWrap-nob" style="padding: 20px 10px;">
                <table id="consDetTb" class="eprWmsTb eprWmsTb-nob display" cellspacing="0" width="100%" epr-data-table epr-tb-opts="optsCdT" epr-tb-dtapi="dtapi_cdt" epr-tb-req="reqCdT" epr-tb-adjust="leftFlag">
                    <thead>
                    <tr>
                        <th width="200">商品名</th>
                        <th width="80">姓名</th>
                        <th width="80">数量</th>
                        <th width="120">日期</th>
                        <th width="80">金额</th>
                        <th width="80">类型</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>