<div class="leafPageCont" id="welfMarket" menu-active>
    <h4 class="pageTitle">您的位置：福利管理&nbsp;&gt;&nbsp;<span>福利市场</span></h4>
    <div>
        <ul class="topMenu moreMenu clearfix">
            <li class="tMenuItem" ng-class="{active: !dictIdWmk}"><a ng-click="toglActive($event)" ui-sref="welfMarket.welfare({from: 'welfMarket', dictId: ''})">全部福利</a></li>
            <li class="tMenuItem" ng-class="{active: item.dictId == dictIdWmk}" ng-repeat="item in welfTypes"><a ng-click="toglActive($event)" ui-sref="welfMarket.welfare({from: 'welfMarket', dictId: item.dictId})">{{item.dictName}}</a></li>
        </ul>
        <div ui-view class="bottomContent">

        </div>
    </div>
</div>