<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>企业后台</title>
    <!--引用库-->
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/DataTables-1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="lib/jsTree-3.3.5/themes/default/style.min.css">
    <link rel="stylesheet" type="text/css" href="lib/Pagination/css/Pagination.css">
    <!--自定义-->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/etpr-validate.css">
    <link rel="stylesheet" type="text/css" href="css/epr-wms-table.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <div id="ng-app" ng-app="app" class="mainContainer" ng-controller="IndexCtrl">
        <div class="etprWmsHeader clearfix">
            <div class="titleWrap">
                <div class="etprWmsLogo"></div>
                <div class="etprWmsTitle" ng-bind="companyName"></div>
            </div>
            <div class="userTool">
                <div id="userBtn" class="user"><img alt="用户" ng-src="{{logoUrl}}" src="images/index/user.png"><span ng-bind="managerPhone"></span></div>
                <a id="messageBtn" href="javascript:;" class="message"></a>
                <a id="logOutBtn" href="javascript:;" class="exit" ng-click="logout($event)"></a>
            </div>
        </div>
        <div class="etprWmsBody">
            <div class="leftSide">
                <div>
                    <ul class="leftMenu">
                        <li class="menuItem etprInfo">
                            <a href="javascript:;">企业信息</a>
                            <dl>
                                <dd><a href="javascript:;" ui-sref="etprInfo">企业信息</a></dd>
                            </dl>
                        </li>
                        <li class="menuItem staffMng">
                            <a href="javascript:;">员工管理</a>
                            <dl>
                                <dd><a href="javascript:;" ui-sref="departMng">部门管理</a></dd>
                                <dd><a href="javascript:;" ui-sref="staffMng.deptStm({cdId: idxCdId})" ng-click="goStaffMng($event)">员工管理</a></dd>
                            </dl>
                        </li>
                        <li class="menuItem clientMng">
                            <a href="javascript:;">客户管理</a>
                            <dl>
                                <dd><a href="javascript:;" ui-sref="typeMng">类型管理</a></dd>
                                <dd><a href="javascript:;" ui-sref="clientMng.starsClm({emblemId: idxEmblemId})" ng-click="goClientMng($event)">客户管理</a></dd>
                            </dl>
                        </li>
                        <li class="menuItem welfMng">
                            <a href="javascript:;">福利管理</a>
                            <dl>
                                <dd><a href="javascript:;" ui-sref="staffWelf.deptStw({cdId: idxCdId})" ng-click="goStaffWelf($event)">员工福利</a></dd>
                                <dd><a href="javascript:;" ui-sref="clientWelf.starsClw({emblemId: idxEmblemId})" ng-click="goClientWelf($event)">客户福利</a></dd>
                                <dd><a href="javascript:;" ui-sref="welfMarket.welfare({from: 'index', dictId: ''})">福利市场</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-view class="rightContent"></div>
        </div>
    </div>

    <script type="text/javascript" src="lib/jquery-1.12.4/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.2.21/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-ui-router-0.4.3/angular-ui-router.js"></script>
    <script type="text/javascript" src="lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="lib/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="lib/jquery-validation-1.17.0/dist/localization/messages_zh.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/DataTables-1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="lib/jsTree-3.3.5/jstree.js"></script>
    <script type="text/javascript" src="lib/Pagination/js/Pagination.js"></script>

    <!--自定义-->
    <script type="text/javascript" src="js/util.js"></script>
    <script type="text/javascript" src="js/validateMethod.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/service.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/directive.js"></script>
    <script type="text/javascript" src="js/filter.js"></script>
    <script type="text/javascript" src="js/controllers/indexCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/etprInfoCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/consDetCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/departMngCtrl.js"></script>
    <!--员工管理路由及子路由控制器-->
    <script type="text/javascript" src="js/controllers/staffMngCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/staffMng/deptStmCtrl.js"></script>

    <!--类型管理路由-->
    <script type="text/javascript" src="js/controllers/typeMngCtrl.js"></script>

    <!--客户管理路由及子路由控制器-->
    <script type="text/javascript" src="js/controllers/clientMngCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/clientMng/starsClmCtrl.js"></script>
    <!--员工福利路由及子路由控制器-->
    <script type="text/javascript" src="js/controllers/staffWelfCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/staffWelf/deptStwCtrl.js"></script>
    <!--客户福利路由及子路由控制器-->
    <script type="text/javascript" src="js/controllers/clientWelfCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/clientWelf/starsClwCtrl.js"></script>
    <!--福利市场路由及子路由控制器-->
    <script type="text/javascript" src="js/controllers/welfMarketCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/welfMarket/welfareCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/welfMarket/welfDetail.js"></script>

</body>
</html>